* {
    margin: 0;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


h1 {

    font-family: "Borel", cursive;
    text-align: center;
    margin-top: 30px;
    margin-bottom: -80px;
    font-size: 2.4em;
    color: rgb(43, 26, 21);


}

p {
    text-align: left;
    font-weight: 200;
    padding: 6px;
    padding-bottom: 10px;
}

p.bj {
    margin-bottom: -20px;
}

p.intro {
    padding-bottom: 50px;

}

p.bmdesc {
    text-align: left;
    font-weight: 200;
    padding: 10px;
    margin-left: 400px;
    margin-right: 400px;
    padding-bottom: 100px;
}


h2 {
    font-family: "Poppins", sans-serif;
    color: rgb(86, 59, 51);
    text-align: left;

}

h2.welcome {
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    color: rgb(86, 59, 51);
    font-size: 2.2em;
    padding-bottom: 20px;
    text-align: left;
    margin-left: 100px;


}

h2.btnmashtitle {
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    color: rgb(86, 59, 51);
    font-size: 2.2em;
    padding-bottom: 20px;
    text-align: left;
    margin-left: 300px;

}

h2.abouttitle {
    font-family: "Poppins", sans-serif;
    color: rgb(86, 59, 51);
    font-size: 2.2em;

    text-align: left;
    margin-left: 300px;
}

h6 {
    font-family: "Gowun Batang", serif;
    padding-bottom: 5px;
    font-weight: bolder;
    font-size: 1em;
    text-align: left;


}

h6.bmlink {

    padding-bottom: 5px;
    font-weight: bolder;
    font-size: .9em;
    text-align: center;
    font-weight: normal;

}

.name {
    background-color: rgb(255, 245, 246);
    padding-top: 2px;
    font-size: 2.5em;
    margin: 10px;
    margin-left: 80px;
    margin-right: 80px;
    border: 4px solid rgb(255, 234, 234);
}

h3.sub {
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
    font-family: "Gowun Batang", serif;
    font-weight: bolder;
    font-weight: bolder;
    letter-spacing: 8px;
    ;

}

h3.bmsub {
    font-size: 20px;
    text-align: left;
    font-weight: bolder;
    font-weight: bolder;

    margin-top: 40px;
    color: rgb(86, 59, 51);

}

h3.bmsub2 {
    font-size: 20px;
    text-align: left;
    font-weight: 150;
    font-weight: bolder;
    margin-left: 320px;
    padding-top: 30px;
    padding-bottom: 5px;
    color: rgb(86, 59, 51);

}

h3.bmsub3 {
    font-size: 20px;
    text-align: left;
    font-weight: bolder;
    font-weight: bolder;
    color: rgb(86, 59, 51);

}

h3.bmsub4 {
    font-size: 20px;
    text-align: left;
    font-weight: 150;
    font-weight: bolder;
    margin-left: 290px;
    padding-top: 30px;
    padding-bottom: 5px;
    color: rgb(86, 59, 51);

}


.header {

    width: 100%;
    height: 70%;
    box-shadow: 0px 1px 10px #555;
    background-color: rgb(169, 169, 135);
    text-align: center;
    display: flex;
    justify-content: center;
    line-height: 70px;
}

.container {
    margin: 20px auto;

    width: 100%;
    height: 600px;
    display: block;
    text-align: center;

}

.container2 {

    width: 800px;
    padding: 1px;
    display: block;
    text-align: center;


}

.card {
    margin: 16px 16px;
    height: 480px;
    width: 400px;
    border: 3px, solid #eee;
    border-radius: 20px;
    display: inline-block;
    overflow: hidden;
    background: white;
    padding: 20px;
    margin-bottom: 50px;
    margin-top: -20px;
    box-shadow: 0 4px 8px rgb(236, 236, 236);

}

.card>img {
    height: 100%;
    width: 100%;


}

.card>img:hover {
    transform: scale(1);
    transition: all 0.2s ease-in-out;
    opacity: 80%;

}

.meter span {
    display: block;
    height: 100%;

}

.progress {
    background-color: #e51400;
    animation: progressBar 5s ease-in-out;
    animation-fill-mode: forwards;


}



* {
    box-sizing: border-box;
    text-align: center;



}

li,
a {

    font-size: 20px;
    color: rgb(43, 26, 21);
    font-weight: 1000;
    text-decoration: none;
    text-align: center;
    font-family: "Poppins", sans-serif;


}

a.seemore {
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11.9px;
    font-family: ;
    color: white;
    font-weight: 100;



}

a.seemore:hover {

    color: rgb(207, 58, 103);

}





header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    background-color: rgb(255, 203, 214);
    color: brown;
    margin-left: 80px;
    margin-right: 80px;
    border: 1px solid rgb(255, 222, 232);
}

.logo {
    width: 55px;
    height: 55px;
    margin-left: 10px;
    border-radius: 10px;
    transition: none;
    opacity: 100%;

}


.logo2 {
    width: 55px;
    height: 55px;
    border-radius: 10px;
    transition: none;
    opacity: 100%;

}


.nav-links {
    list-style: none;
    list-style-type: none;
    /* remove bullets */
    padding: 0;
    background-color: rgb(245, 142, 178);
    color: rgb(65, 43, 37);
    text-align: center;
    padding: 6px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: -50px;



}

.nav-links li {

    padding: 10px 20px;

    /* display: inline-block; */

}

.nav-links li a:hover {
    color: white;
    transition: all 0.3s ease 0s;
    color: black;
    background-color: rgb(227, 179, 201);
    /* background-color: rgb(245, 142, 178);   */

    border-radius: 3px;
    /*round the corners on the nav items*/
    text-decoration: none;
    /*remove default underlines from links*/
    padding: 4px 10px;
    font-size: 0.9em;
    text-align: center;
    border: 1px solid white;
    align-items: center;
}

nav a.current {
    /*background-color: rgb(207, 19, 88);*/
    color: white;
    text-decoration: underline;
    text-align: center;

}



button {
    margin: 10px 0 20px 0;
    text-align: center;
    margin-top: 20px;
    margin-right: 10px;
    /* box-shadow: 0 2px 8px 0; */

}

.btn1,
.btn2,
.btn3,
.btn4,
.btn5 {
    border: 0px solid transparent;
    border-radius: 6px;
    padding: 8px 14px;
    cursor: pointer;
    font-size: 12px;
    align-items: center;
    text-align: center;
    color: white;
    /* box-shadow: 0 2px 8px 0; */
    background: rgb(204, 17, 73);



}

.btn1 {
    text-align: center;
    background: rgb(207, 58, 103);

}

.btn2 {
    text-align: center;
    font-size: .8em;
    background: rgb(207, 58, 103);
    margin-top: -80px;


}


.btn3 {
    background: rgb(207, 58, 103);



}

.btn3:hover {
    background-color: white;
    border: 1px solid rgb(207, 58, 103);
    color: rgb(207, 58, 103);
}

.btn4 {
    background: rgb(207, 58, 103);


}


.btn4:hover {
    background-color: white;
    border: 1px solid rgb(207, 58, 103);
    color: rgb(207, 58, 103);
}

.btn5 {
    background: rgb(207, 58, 103);

}


.btn5:hover {
    background-color: white;
    border: 1px solid rgb(207, 58, 103);
    color: rgb(207, 58, 103);

}

button:hover {
    background-color: #ffffff;
    color: rgb(207, 58, 103);
    transition: all 0.1s ease-in-out;
    border: 1px solid rgb(207, 58, 103);

}

img.buttonmash {
    width: 330px;
    height: 230px;

}

img.lettertofs {
    width: 330px;
    padding-top: 20px;
    ;
    padding-bottom: 20px;
    height: 230px;

}

img.energi {

    width: 320px;
    padding-top: 20px;
    ;
    padding-bottom: 20px;
    height: 200px;

}


img.strayed {

    width: 350px;
    padding-top: 20px;
    ;
    padding-bottom: 20px;
    height: 200px;

}


img.bunnyjump {
    width: 340px;
    height: 230px;

}

img.dialex {
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 45%;


}







img:hover {
    transform: scale(1.03);
    transition: all 0.2s ease-in-out;
    opacity: 80%;
    box-shadow: 0 4px 8px rgb(237, 237, 237);

}

.logo:hover {
    transition: none;
    transform: none;
    opacity: 1;
    box-shadow: none;
    cursor: ;
}

img.bj2 {
    width: 800px;
    height: 450px;
    transition: none;
    transform: none;
    opacity: 1;
}

img.bm2 {
    transition: none;
    transform: none;
    opacity: 100%;
    width: 33%;
    align-content: left;
}

img.p1 {
    transition: none;
    transform: none;
    opacity: 100%;
    align-content: left;




}

img.p2 {
    transition: none;
    transform: none;
    opacity: 100%;
    align-content: left;

}

img.dialexwf {

    padding-top: 20px;
    ;
    padding-bottom: 0px;
    width: 58%;
    height: 80%;

}

img.p1:hover {
    transition: none;
    transform: none;
    opacity: 100%;
    box-shadow: none;

}

img.p2:hover {
    transition: none;
    transform: none;
    opacity: 100%;
    box-shadow: none;

}

img.bj2:hover {
    transition: none;
    transform: none;
    opacity: 100%;
    box-shadow: none;

}

img.dialexwf:hover {

    transition: none;
    transform: none;
    opacity: 100%;
    box-shadow: none;
}


.rule-bottom {
    border-bottom: 2.6px solid;
    width: 130px;
    margin-left: 300px;
    color: rgb(245, 142, 178);
    margin-bottom: 30px;
    margin-top: -10px;
}

.rule-bottom4 {
    border-bottom: 2.6px solid;
    width: 130px;
    color: rgb(245, 142, 178);
    margin-bottom: 20px;
    margin-top: -10px;
    align-content: center;
    padding-top: 12px;
}

.rule-bottom2 {
    border-bottom: 2.6px solid;
    width: 130px;
    margin-left: 115px;
    color: rgb(245, 142, 178);
    margin-bottom: 50px;
    margin-top: -10px;
}

.rule-bottom3 {
    border-bottom: 2.6px solid;
    width: 100px;
    margin-left: 300px;
    color: rgb(245, 142, 178);
    margin-top: 10px;
}


ul.bmlist {
    text-align: left;
    font-weight: 10;
    ;
    font-size: 16px;
    padding-left: 40px;
    padding-right: 50px;
    background-color: rgb(255, 235, 239);
    padding-top: 20px;
    border: 2px solid rgb(245, 142, 178);
    border-radius: 1.1cm;
    margin-left: 100px;
    opacity: 70%;

}

li.bmlist2 {
    font-size: 16px;
    padding: 10px;
    text-align: left;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;

}

p.pbm1 {
    font-weight: 900;
    padding-bottom: ;
    padding-top: 40px;
    padding-left: ;



}

p.pbm {
    font-weight: 900;
    padding-bottom: ;
    padding-top: 25px;




}

p.pbm2 {
    line-height: 25px;
    /* background-color: rgb(255, 177, 190, 0.1) ; */
    padding: 10px;
    padding-right: 40px;
    padding-top: 20px;
    padding-left: 100px;

}

p.pbm4 {

    line-height: 25px;
    /* background-color: rgb(255, 177, 190, 0.1) ; */
    padding: 5px;
    padding-right: 40px;
    padding-left: 100px;
    /* padding-bottom: 80px; */
}

p.space {
    padding-bottom: 90px;
}

p.space2 {
    padding-bottom: 40px;
}



a.link2 {
    font-family: ;
    font-size: 15px;
    color: rgb(207, 58, 103);
    font-weight: 800;

    text-decoration: underline;
    /* font-family: "Gowun Batang", serif; */



}

a.link2:hover {
    color: pink;


}

a.link3 {
    font-family: ;
    font-size: 15px;
    /* color: rgb(207, 58, 103); */
    font-weight: 800;
    text-decoration: none;
    /* font-family: "Gowun Batang", serif; */



}

p.slides {

    padding-bottom: 20px;
    /* padding-left: 318px;
    padding-right: 300px; */
}




dropdown {
    position: relative;
    display: inline-block;
}

/* Hide dropdown menu by default */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: rgb(245, 142, 178);
    min-width: 150px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
    text-align: left;
}

/* Style dropdown links */
.dropdown-menu li {
    display: block;
    padding: 10px;
}

.dropdown-menu li a {
    color: rgb(43, 26, 21);
    text-decoration: none;
    display: block;
}

/* Show dropdown menu on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Hover effect for dropdown links */
.dropdown-menu li a:hover {
    background-color: rgb(227, 179, 201);
    color: rgb(255, 255, 255);
}



.about {
    padding-top: 40px;
    width: 100%;
    padding-left: 250px;
    padding-right: 250px;
    justify-content: center;

}

.about2 {
    margin-top: -30px;
    width: 100%;
    padding-left: 250px;
    padding-right: 250px;
    justify-content: center;

}

img.selfie {
    padding-top: 11px;
    width: 44%;
    height: 70%;
    transition: none;
    transform: none;
    opacity: 100%;
    box-shadow: none;
    float: left;
    padding-right: 40px;
    padding-bottom: 20px;

}


.title-container {
    background-color: rgb(255, 245, 246);
    padding: 2px;
    font-size: 2.5em;
    margin: 10px 80px;

    border: 4px solid rgb(255, 234, 234);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* margin-left: -100px; */
}

.logo2 {
    width: 100px;
    height: auto;
    margin-left: -90px;

}


.logo2:hover {
    width: 100px;
    height: auto;
    margin-left: -90px;
    transition: none;
    opacity: 1;
    transform: none;

}


/*slideshow code*/
.wrapper {
    width: 300px;
    margin: 70px auto;

}

.slideshow {
       padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    flex-direction: column;
}

.slideshow div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

#image {
    width: 550px;
    height: 270px;

}

#image:hover {
    opacity: 1;
    transition: none;
    transform: none;
    box-shadow: none;
}
